<!-- ****************************************************
 * Name: Rebecca Mckeever
 * CS 361
********************************************************* -->
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="favicon.png" type="image/gif">

        {{> page/css}}

        <title>{{> page/title}}</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
