<main class="pt-4">
    <div class="container">
        {{> page/switch}}
        <article class="mb-4 clearfix card">
            <h1 class="card-header">Search results</h1>
            <div class="card-body">
                <section id="text-results" class="row">
                    <h2 class="card-title">Error</h2>
                    {{#each error_p}}
                        <p class="card-text">
                            {{details}}
                        </p>
                    {{/each}}
                </section>
            </div>
        </article>
        <button id="prev-page-btn" type="button" class="btn back-button btn-primary" >Return to previous page</button>
    </div>
</main>
{{> page/footer}}
{{> page/scripts}}
