/***********************************************************
 * Name: Rebecca Mckeever
 * CS 361
***********************************************************/
:root {

}

.mark, mark {
    background-color: var(--bs-yellow);
}

a {
    text-decoration: underline;
}

a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

.center {
    text-align: center;
}

.external-icon {
    margin-left: 0.25rem;
    width: 0.75rem;
}

