<div class="form-check form-switch">
    <input form="user-input-form" class="form-check-input switch" type="checkbox" role="switch" id="theme_switch" name="theme_switch">
    <label class="form-check-label" for="theme_switch" id="theme_switch_label">Light theme</label>
</div>
